<!-- <div *ngIf="user" class="mt-3 border col-md p-3">
    <h3>Usuário selecionado:</h3>
    <p><b>Nome:</b> {{user.nome}}</p>
    <p><b>Idade:</b> {{user.idade}}</p>
</div>-->
<div class="justify-content-center row">
    <div class="col-md-4">
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">&#64;</span>
            <input [(ngModel)]="username"
                name="username"
                   aria-describedby="basic-addon2"
                   aria-label="Username"
                   class="form-control"
                   placeholder="Username"
                   type="text" />
            <span class="input-group-text btn btn-success" id="basic-addon2" (click)="getGitUser()">
                Pesquisar
            </span>
        </div>
    </div>
</div>

<div *ngIf="user" class="container">
    <div class="row justify-content-center">
        <div class="col-md-4">
            <div class="card text-center">
                <img [src]="user?.avatar_url" alt class="card-image-top" />

                <div class="card-body">
                    <h5 class="card-title">Username: {{user?.name}}</h5>
                    <p class="card-text">{{'@' + user?.login}}</p>

                    <div class="text-center row">
                        <div class="col-md">
                            <p class="m-0">
                                <b>Seguidores:</b>
                            </p>
                            <p class="card-text">{{user?.followers}}</p>
                        </div>
                        <div class="col-md">
                            <p class="m-0">
                                <b>Seguindo:</b>
                            </p>
                            <p class="card-text">{{user?.following}}</p>
                        </div>
                    </div>

                    <a [href]="user?.html_url" class="btn btn-primary">
                        Visitar perfil
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
